.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temp-min {
  opacity: 0.8;
  margin-left: 5px;
}

.WeatherForecast-temp-max {
  color: #cdb4db;
  font-weight: 500;
}

.WeatherForecast-icon {
  size: 45;
}
